<a href="https://colab.research.google.com/github/ybressler/intro-to-python/blob/master/Module%204%20%E2%80%93%20Analyzing%20Big%20Data%20%E2%80%93%20Broadway%20Grosses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Module 4 – Analyzing Big Data – Grosses for Hamilton on Broadway

*We'll be using python to analyze big data from Broadway grosses.*


---

**Outline:**
* load data
* clean and structure data
* visualize and explore

In [0]:
import re
import json
import requests
import pandas as pd
import datetime
import matplotlib.pyplot as plt

# 1. Load data

Broadway Grosses for Hamilton
* Broadway World: https://www.broadwayworld.com/grosses/HAMILTON
* download all data to excel – then convert to csv – then upload

*OR* continue with the following link: 

* https://storage.googleapis.com/yb-intro-to-python/hamilton_data_04-06-2020.csv

In [0]:
# Hamilton data
data_path = "https://storage.googleapis.com/yb-intro-to-python/hamilton_data_04-06-2020.csv"
data = requests.get(data_path).text # data is text

In [24]:
# load directly into a dataframe
df = pd.read_csv(data_path)

df

        Week This Week's Gross  ... Last Week %   Diff %
0        NaN               NaN  ...         NaN      NaN
1    7/19/15       $1,288,436   ...          0%       0%
2    7/26/15       $1,302,511   ...          0%  100.50%
3     8/2/15       $1,490,816   ...     100.50%       0%
4     8/9/15       $1,255,163   ...     100.50%    0.20%
..       ...               ...  ...         ...      ...
239   2/9/20       $2,692,357   ...     101.50%       0%
240  2/16/20       $2,553,721   ...     101.50%   -0.10%
241  2/23/20       $2,763,624   ...     101.40%    0.10%
242   3/1/20       $2,696,189   ...     101.50%       0%
243   3/8/20       $2,688,721   ...     101.50%       0%

[244 rows x 14 columns]

## 1.1 Cleaning the Data
Data isn't right... We need to clean up some of the rows and properly structure some of the data

In [0]:
# Recall how you can convert from string to datetime
dt = '04/16/2017'
dt = datetime.datetime.strptime(dt, "%m/%d/%Y")
print(dt)

# Alternatively
dt = '04/16/2017'
dt = pd.to_datetime(dt)
print(dt)

# 2. Next